body {
    margin-top: 50px;
}

.jumbotron img {
    width: 25%;
}

#home1 {
    background-color: rgb(114, 114, 114);
    color: white;
}

#portfolio1{
    background-color: rgb(114, 114, 114);
    color: white;
}
.card-body1{
    color: black;
}
section {
    min-height: 420px;
}

footer {
    min-height: 50px;
    padding-top:12px;
}